form.form{
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    padding: 2rem 3rem;
}

.input-span{
    font-size: 12px;
    margin-top: .5rem;
}

.generate-movement{
    margin-top: .3rem!important;
    color: #212529!important;
    background-color: #ffc107!important;
    border-color: #ffc107!important;
}
.generate-movement:hover{
    background-color: rgb(248, 248, 174)!important;
}

.form-control{
    width: 100%;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 10px;
    padding: 0.5rem 0 0.5rem 0.5rem;
    margin: 2rem 0;
}

.form-title{
    margin-bottom: 0;
    margin-top: 0;
}

form.form button{
    width: 100%;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

form.form button:hover{
    background-color: rgb(112, 194, 221);
    cursor: pointer;
}